*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
} 
.weather-icon{
  width: 170px;
  margin-top: 30px;  
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -10px;
}
.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.nextpage button{
    display: inline-block;
    background: #5b548a;
    color: #fff;
    padding: 10px 50px;
    margin: 30px 0;
    border-radius: 30px;
}

.prevpage button{
    display: inline-block;
    background: #5b548a;
    color: #fff;
    padding: 10px 50px;
    margin: 30px 0;
    border-radius: 30px;
}

.container{overflow:hidden;width:400px; margin-bottom: 230px;}
.box0{white-space:nowrap}
.box0 div,.box1 div,.box2 div{width:90px;height:30px;display:inline-block}
.box0 img, .box1 img, .box2 img{
    width: 40px;
    margin-left: 40px;
    margin-top: 10px;
}
.partdayname{
    font-size: 16px;
    opacity: 70%;
    font-style: italic;
    margin-bottom: 5px;
}